<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firebase Login</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script type="module" src="{{ url_for('static', path='/firebase-login.js') }}"></script>
</head>
<body>
    <h1>Profile</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="/save_username" method="post">
        <input type="text" name="username" id="username" placeholder="Enter user name">
        <button type="submit">Save</button>
    </form>
</body>
</html>
